
.message-list {
    width: 800px;
    max-height: 800px;
    overflow-y: scroll;
    
}

.message {
    background-color: rgb(39, 14, 36);
    margin: 20px;
    border-radius: 20px;
    width: 700px;
    padding-bottom: 10px;
}

.chat-image {
    margin: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.message-text {
    background-color: rgb(55, 28, 55);
    word-wrap: break-word;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 194, 132);
    padding:10px;
    border-radius: 15px;
}

.message-author {
    height: 45px;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 15px;
    padding-right: 15px;
    width: 500px;
    float: right;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(202, 194, 132);
    display: flex;
    justify-content: center;
}

